{% extends "layout.html" %} {% block content %}
<p class="aviso">Desarrollado por:</p>
<p class="nombre">Brayan Alejandro Puentes Camargo</p>
<p class="nombre">Juan Camilo Ramírez Rátiva</p>
<p class="nombre">Johnatan Guillermo Ruiz Bautista</p>
<p class="aviso">Iconos hechos por:</p>
<a class="credito" href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
<p class="aviso">De:</p>
<a class="credito" href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> {%
endblock %}
